# Python Basic Assignment 20

### Q1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of emergency text system'
print (test1)
with open('test.txt', 'w') as file:
    file.write(test1)
    file.close()

This is a test of emergency text system

### Q2. Read the contents of the file test.txt into variable test2. Is there a differencxe between test 1 and test 2?

In [2]:
with open('test.txt', 'r') as file:
    test2 = file.read()

print(test2)
print(test1 == test2)

This is a test of emergency text system
True

### Q3. Create a CSV file called books.csv by sing these lines:
### title, author, year 
### The Weirddtone of Brisingamen, Alan Garner, 1960
### Perdido Street Station, China Miéville,2000
### Thud!, Terry Pratchett, 2005
### The Spellman Files, Lisa Lutz, 2007
### Small Gods, Terry Parctchett, 1992

In [3]:
import csv

data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

### Q4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [5]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE books1 (title text, author text, year int)")
db.commit()
db.close()

### Q5. Read books.csv and insert its data into the books table.

In [6]:
import sqlite3
import csv
conn = sqlite3.connect("books.db")
cursor = conn.cursor()
with open ("books.csv", "r") as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute("INSERT INTO books1 VALUES (?,?,?)", (book['title'], book['author'], book['year']))
conn.commit()
conn.close()

### 6. Select and print the title column from the books table in alphabetical order.

In [7]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("SELECT title FROM books1 ORDER BY title ASC")
for ele in output:
    print(ele[0])
conn.commit()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

### Q7. From the books table, select and print all columns in the order of publication.

In [ ]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
ouput = cursor.execute("SELECT * FROM books1 ORDER BY year")
for record in ouput:
    print(record)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

### Q8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [9]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

### Q9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [10]:
pip install redis

Collecting redis
  Downloading redis-4.5.5-py3-none-any.whl (240 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 240.3/240.3 kB 23.1 MB/s eta 0:00:00
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.5.5
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test', {
    'count' : 1,
    'name' : 'Fester Bestertester'
})
conn.hgetall('test')

### Q10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')