# Python Basic Assignment 16

### Q1.  Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980, the list would be years_list = [1980,1981,1982,1983,1984,1985].

In [55]:
years_list = [i for i in range(2000, 2000+6)]
years_list

[2000, 2001, 2002, 2003, 2004, 2005]

### Q2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [56]:
third_birthday = years_list[3]
third_birthday

2003

### Q3. In the years list, which year were your the oldest?

In [57]:
print(years_list[-1])

2005

### Q4. Make a list of called things with these three strings as elements : "mozzarella", "cinderella". "salmonella".

In [58]:
things = ["mozzarrella", "cinderella", "salmonella"]
things

['mozzarrella', 'cinderella', 'salmonella']

### Q5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [59]:
for word in range (len(things)):
    if things[word] == "cinderella":
        things[word] = things[word].capitalize()
print(things)
print("The elements in the list doesn't change except that the letter c was capitalize to uper case C")

['mozzarrella', 'Cinderella', 'salmonella']
The elements in the list doesn't change except that the letter c was capitalize to uper case C

### Q6. Make a surprise list with the elements "Groucho", "Chico" and "Harpo".

In [60]:
surprise_list = ["Groucho", "Chico", "Harpo"]
surprise_list

['Groucho', 'Chico', 'Harpo']

### Q7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [61]:
(surprise_list[-1]).lower()
surprise_list[-1][::-1].capitalize()

'Oprah'

### Q8. Make an English-to-French dictionary called e2f and print it. Here are your started words: dog is chien, cat is chat and walrus is morse.

In [62]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

### Q9. Write the French word for walrus is your three-word dictionary e2f.

In [63]:
e2f.get('walrus')

'morse'

### Q10. Make a French-to-English dictionary called f2e. Use the items method.

In [64]:
f2e = dict([i[::-1] for i in e2f.items()])
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

### Q11. Print the English version of the French word chien using f2e.

In [65]:
f2e.get('chien')

'dog'

### Q12. Make and print a set of English words from the keys in e2f.

In [66]:
print(list(e2f.keys()))

['dog', 'cat', 'walrus']

### Q13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants' and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi' and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri'. 'Grumpy' and 'Lucy'. Make all the other keys refer to empty dictionary.

In [67]:
life = {
    'animals': {
        'cats':['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'others' : {}
}
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'others': {}}

### Q14. Print the top-level keys of life.

In [68]:
print(list(life.keys()))

['animals', 'plants', 'others']

### Q15. Print the keys for life ['animals'].

In [69]:
print(list(life['animals'].keys()))

['cats', 'octopi', 'emus']

### Q16. Print the values for life['animals']['cats'].

In [70]:
print(list(life['animals']['cats']))

['Henri', 'Grumpy', 'Lucy']